main.moo_main {
  width: 90%;
  margin: auto;
  /* max-width: 100vh; */
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 50rem) {
  main.moo_main {
    width: 50%;
  }
}
.moo_row {
  display: flex;
  justify-content: center;
}
.moo_cell {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-alpha-200);
  margin: 1px;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
}
.moo_cell_used {
  outline: 2px solid var(--action-primary);
  background-color: rgb(0, 192, 150);
}
.moo_cell_clicked {
  background-color: var(--action-primary);
  color: var(--background);
}
.moo_board {
  width: 100%;
}
.moo_controls {
  width: 100%;
}

.moo_reset {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: var(--action-primary);
  color: var(--background);
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.moo_results {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
